CompileFlags:
  CompilationDatabase: ./build
  Compiler: arm-none-eabi-g++

Index:
  StandardLibrary: true
  Background: Build

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    FastCheckFilter: Loose

Hover:
  ShowAKA: false
